

h1{
    background-image: url("food1.jpg");
    text-align: center;
    color:#072227;
    line-height: 15;
    text-shadow: 2px 2px 2px rgb(6, 90, 10);
    height: 400px;
}
h2{
    text-align: center;
}

body{
    background-color: #D3DEDC;
}
p1{
    background-image: url("starter.jpg");
    text-align: center;
    
    line-height: 5;
    border: 2px solid red;

}
p{
    background-image: url("maincourse.jpg");
    text-align: center;
    
    line-height: 5;
    border: 2px solid red;

}

